<div class="col-12 d-flex vertical h-100">
    <h1 class="header center-horizontal">
        {{headerLabel}}
    </h1>
    <!-- <input class="center-horizontal" type="text"> -->

    <div class="suggested-appliances-list center-horizontal">
        <div class="suggested-appliance-li" *ngFor="let appliance of suggestedAppliancesDisplay">
                <tile (click)="toggle(appliance)" [selectable]="true" [selected]="isSelected(appliance)" [small]="true" [label]="appliance.name" [subLabel]="appliance.description"></tile>
        </div>
        <div class="suggested-appliance-li" *ngFor="let i of [].constructor(fillers)">
            <tile [small]="true" class="transparent"></tile>
        </div>        
    </div>

    <div class="spacer"></div>

        <div class="added-appliances-list center-horizontal">
            <div id="wrapper" class="wrapper">

            <div class="added-appliance-li" *ngFor="let appliance of selectedAppliances; index as i">
                <span class="center-vertical">{{appliance.name}}</span>
                <div (click)='removeAppliance(i)' class="cancel center-vertical"><i class="fa-solid fa-xmark"></i></div>
            </div>
        </div>

        </div>



</div>