@import "../common/variables.scss";

.suggested-appliances-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;


}

.added-appliances-list{
    display: flex;
    flex-direction: column;
    max-width: 400px;


    .appliance-li{
        width: 100%;
        height: 40px;
        border-top: 1px solid $green-dark;

    }
}