@import "../common/variables.scss";

$fade-in-out-duration: 0.3s;

.header{
    margin-top: 35px;
}

.spacer{
    flex-grow: 1;
}

.suggested-appliances-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: space-between;

    .add-new{
        font-size: 44px;
        position: absolute;
        margin-top: -72px;
        margin-left: 29px;
        color: $green-dark;
        cursor: pointer;

        &:hover{
            color: $green-darker;
        }
    }

    .suggested-appliance-li{
        padding: 10px;
    }

}

.added-appliances-list{
    max-width: 500px;
    width: 95%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin-bottom: 35px;
    background: #efefef;
    overflow-y: auto;
    flex: 1 1 auto;
    height: 0; //needed for some flexbox scroll behavior
    
    .description{
        font-size: 18px;
        color: #999;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .wrapper{
        height: 100%;
        overflow-y: scroll;


    }


    .added-appliance-li{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid $gray-light;
        display: flex;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 10px;

        .description{
            font-size: 14px;
        }

        &:first-child{
            border-top: none;
        }

        .icon {
            padding: 10px;
            font-size: 20px;
            cursor: pointer;
            color: $green-darker;
            &.edit{
                margin-left: auto;
            }
            &:hover{
                color: $green-very-dark;
            }
        }

    }
}

.transparent {
    opacity: 0;
    pointer-events: none;
}

.hidden {
    display: none !important;
    z-index: -9999;
}

.modal-bg{
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0.4;
    left: 0;
    // pointer-events: none;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 50%;

    label{
        &:not(:first-child){
            margin-top: 10px;
        }
    }

    input{
        height: 40px;
        border: 1px solid $gray-light;
        border-radius: 4px;
        padding-left: 10px;
        font-size: 16px;

        &.short{
            width: 100px;
        }
    }
}

.fade-in {
	-webkit-animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out{
    z-index: -1;
    -webkit-animation: fade-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-24 20:50:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

@-webkit-keyframes fade-in-bg {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4;
    }
  }
  @keyframes fade-in-bg {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4;
    }
  }
  

  @-webkit-keyframes fade-out-bg {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out-bg {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .modal{
    display: inline-table;
    opacity: 1;
    margin-top: 5%;
  }