//colors
$green-light: #66c992;
$green-dark: #8A9A5B;
$green-dark-less-transparent: #8a9a5b58;
$green-dark-transparent: #8A9A5B2a;
$green-light-transparent: #66c9922a;
$black: #000;
$white: #fff;

//fonts
$font-size-body: 16px;
$font-size-small: 14px;
$font-size-xs: 12px;
$font-size-tile-icon: 36px;
$font-size-h1: 36px;

//grays
$gray-light: #aaa;
$gray-lighter: #ccc;
$gray: #777;

//spacing
$button-bar-height: 85px;