@import "../variables.scss";

.tile {
    border: 2px solid $green-light;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background: $green-light-transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover{

    }

    .inner-tile{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 20px;

        .label{
            font-size: $font-size-body;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
        }
    
        .tile-icon{
            font-size: $font-size-tile-icon;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

}