@import "../../variables.scss";

.tile {
    border: 2px solid $green-dark;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background: $green-very-light-transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &.small {
        height: 100px;
        width: 100px;
    }
    &.selected {

        background: $green-tile-selected;
        
    }

    &:hover{

    }

    .inner-tile{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 5px;
        justify-content: center;

        .label{
            font-size: $font-size-body;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            text-align: center;
        }

        .sub-label{
            font-size: $font-size-xs;
            font-weight: bold;
            text-align: center;
        }
    
        .tile-icon{
            font-size: $font-size-tile-icon;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

}