/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./app/common/variables.scss";

.container {
    max-width: 900px;
}

h1{
    font-size: $font-size-h1;
    font-weight: bold;
    text-align: center;
}

.btn {
    min-height: 45px;
    min-width: 130px;
}

.btn-primary {
    background-color: $green-dark !important;
    border-color: $green-dark !important;

    &.disabled {
        background-color: $green-disabled !important;
        border-color: $green-disabled !important;
        pointer-events: none;
    }

    &:hover{
        background-color: $green-dark;
        border-color: $green-dark;
    }

    &:active{
        background-color: $green-darker !important;
        border-color: $green-dark !important;
    }
}
.center-vertical{
    margin-top: auto;
    margin-bottom: auto;
}

.m-t-a{
    margin-top: auto;
}

.center-horizontal{
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    display: none;
}

.vertical{
    flex-direction: column;
}

.divider{
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: $button-bar-height;
    height: 1px;
    background: $gray-light;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.self-flex-end {
    align-self: flex-end;
}