@import "../common/variables.scss";

.scene{
    height: 100vh;

    .scene-header{
        font-size: $font-size-h1;
        font-weight: bold;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 70px;
    }
}
.spacer{
    width: 35px;
}

.text-body{
    padding: 0 15px;
    max-width: 500px;
}

.tiles{
    display: flex;
}

.get-started{
    cursor: pointer;
    height:fit-content;
    width: fit-content;

    .label{
        margin-left: -4px;
    }

    .battery-wrapper{
        height: 40px;
        .battery {
            font-size: 72px;
            height: 60px;
            color: $green-dark;
            position: absolute;
        }
    
        .battery-bg{
            font-size: 82px;
            height: 60px;
            color: $green-dark-less-transparent;
            position: absolute;
            opacity: 0;
            margin-left: -4px;
            margin-top: -4px;
            filter: blur(4px);
            transition: all 0.2s ease-in-out;
        }
    }


    &:hover{
        .battery-wrapper{
            .battery-bg{
                opacity: 1;
                transition: all 0.2s ease-in-out;
            }
        }

    }
}

.fade-in {
	-webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.fade-out {
	-webkit-animation: fade-out 0.3s ease-out both;
	        animation: fade-out 0.3s ease-out both;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }